@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "urbanist",sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}



html{
  font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6 {
  color: var(-heading-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}

h1{
  font-size: 3.2rem;
}

p,li,a,label{
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  font-weight: 200;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(202, 185, 185);
  cursor: pointer;
  transition: border-color 0.25s;
}



:root{
  --heading-color: #000a19;
  --main-color:#0062ff;
  --supporting-color:#ebf3fe;
  --font-color:#424242;
  --bg-color:#ffffff;
  --h-color:#0a043c;
  --para-color:#504e4d;
  --btn-hover-bg-color:#d3ba88;
  --btn-box-shadow:rgba(111, 107, 100, 0.2) 0px 7px 29px 0px;

}

.dark-mode {
      background-color: black;
      color: white;
        }



.container{
  max-width: 142rem;
  max-height: 200rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}


.grid{
  display: grid;
  gap: 9.6rem;
}

.grid-two-col{
  grid-template-columns: repeat(2,1fr);
}

.grid-three-col{
  grid-template-columns: repeat(3,1fr);
}


.card{
    box-shadow: rgb(0,0,0,0.5) 0px 6px 24px 0px;
    list-style: none;
}
img{
    width: 100%;
    height: 250px;
}

.card-content{
    padding: 3.2rem 1.6rem;
    display: flex;
    flex-direction: column;
    gap:1.1rem;
}

.card-heading{
    margin-left: 523px;
    margin-bottom: 6rem;
}

.good{
    background-color: rgb(69, 178, 78);
}

.average{
    background-color: rgb(231, 225, 60);
}

.ratings{
    padding:0.3rem 1.5rem;
    margin-left: 1rem;
    color: #000;
    border-radius: 80rem;
}